* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* Temp styles */

section{
    padding: 0.5rem;
    border: 1px solid slategray;
}



body{
    font-family: "catamaran", sans serif; 
    color: #192B37;
}


/*Image styles*/

.bg-image{
    background-image: url("img/bed.jpg");
    background-size: cover;
    min-height: 10rem;
}

/* Universal styles and utilities*/

.padded { padding: 5%;}
.padded-sm { padding: 1rem;}

.bg-dark{
    background-color: #192B37;
    color: white;
}

.text-left     { text-align: left;}

.text-center   { text-align: center;}

.text-right    { text-align: right;}