* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



/*Image styles*/

.bg-image{
    background-image: url("img/bed.jpg");
    background-size: cover;
    
}

.landcape{ padding-bottom: 65%;}
.portrait{ padding-bottom: 125%;}
.square { padding-bottom: 100%;}

/* Universal styles and utilities*/


body{
    font-family: "catamaran", sans serif; 
    color: #192B37;
}

.padded { padding: 5%;}
.padded-sm { padding: 1rem;}
.padded-lg { padding: 10%;}

.bg-dark{
    background-color: #192B37;
    color: white;
}

.bg-featured { background-color: #F4B525;}

.bg-light { background-color: #E3ECF2;}

.tall-50 { min-height: 50vh;}
.tall-60 { min-height: 60vh;}
.tall-70 { min-height: 70vh;}
.tall-80 { min-height: 80vh;}
.tall-90 { min-height: 90vh;}
.tall-100 { min-height: 100vh;}

/* Typography Styles */

h2, h3, h4, h5, h6{
    margin-bottom: 1rem;
    line-height: 1.1;
}

h2{
    font-size: 2.5rem; 
    line-height: 1.1rem;
    margin-bottom: 2rem;
}

h3{
    line-height: 1;
}

p{
    font-weight: 200;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

p:last-child{
    margin-bottom: 0;
}

nav a{
    padding: 0.5rem;
    display: inline-block;
    border: none;
}

a{
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover{
    color: #FFBE00;
}

.featured-text{ color: #FFBE00;}
.white-text { color: white}
.small-text{    font-size: 1.5rem;}
.medium-text{ 
    font-size: 2rem;
    line-height: 1.1;
}
.big-text { font-size: 4.5rem}
.subtitle{ 
    font-size: 1.2rem;
    color: rgb(120, 120, 125);
}
.font-weight-light { font-weight: 200;}
.font-weight-normal { font-weight: normal;}
.font-weight-bold { font-weight: 800;}

.text-left     { text-align: left;}

.text-center   { text-align: center;}

.text-right    { text-align: right;}

.quote-icon{ 
    font-size: 6rem;
    display: inline-block;
    color: rgb(120, 120, 125);
    line-height: 1;
}




/* Header and footer styles*/

header{
    background-image: url("img/bed.jpg");
    background-position: center;
    background-size: cover;
    padding: 2% 5%;
}

.logo h2{
    margin-bottom: 0;
}

header h3{
    font-size: 5.5rem;
    line-height: 1;
}

footer a{
    border: none;
}

.mobile-menu{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hamburger-menu{
    position: relative;
    z-index: 2;
}

.hamburger-menu i{
    font-size: 2.2rem;
    margin-bottom: 0;
}

.mobile-menu a{
    display: block;
    font-size: 1.5rem;
    padding: 0.5rem;
}


/* Background Images */

.bg-lamp{
    background-image: url("img/lamp.jpg");

}

.bg-pug{
    background-image: url("img/pug.jpg");
    background-position: 50% 35%;
}

.bg-pillow{
    background-image: url("img/pillow.jpg");
    background-position: 50% 57%;

}

/* Icon grid */

.fa-cloud{
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;

}

/* Buttons and Forms*/

input,
textarea{
    width: 100%;
    display: block;
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 0.9rem;
    border: 2px solid transparent;
}
input:focus,
textarea:focus{
    border: 2px solid #FFBE00;
    outline: none;
}

.button{
    padding: 0.5rem 2rem;
    background-color: #FFBE00;
    appearance: none;
    border: 2px solid #FFBE00;
    color: inherit;
}

/* General CSS responsive styles */

.show-xs,
.show-sm,
.show-md,
.mobile-menu
{
    display: none;
}

/* MD Media Query 64em/1024px */

@media(max-width: 64em){
    body{padding: 0.5rem;}
    .show-md{ display: block;}
    .hide-md{ display: none;}

    .md-tall-80{ min-height: 80vh;}
}

/* SM media query 48em/768px */

@media(max-width: 48em){

    html{ font-size: 14px;}
    p{ font-size: 1.1;}

    body{padding: 0.5rem;}
    .show-sm{ display: block;}
    .hide-sm{ display: none;}

    .sm-text-center{ text-align: center;}
    .sm-text-left{ text-align: left;}
    .sm-text-right {text-align: right;}

    .sm-padded{ padding: 5%;}
    .sm-padded-1{ padding: 1rem;}
    .sm-padded-05{ padding: 0.5 rem;}

    .sm-padded-t-0{ padding-top: 0;}
    .sm-padded-b-0{ padding-bottom: 0;}
    .sm-margin-l-0{ margin-left: 0;}
    .sm-margin-r-0{ margin-right: 0;}

    .logo h2{ font-size: 2rem;}

    header h3{ font-size: 11vw;}



}

/* XS media query 36em/576px */

@media(max-width: 36em){

        
    body{ padding: 0.5rem;}
    .show-xs{ display: block;}
    .hide-xs{ display: none;}

    h1{
        font-size: 1.4rem;
        line-height: 1.1;
    }
}

/* XXS media query 25em */

@media(max-width: 25em/400px){
    html{font-size: 12px;}

    [class*="grid-"] .xxs-stack{
         display: block;
         flex-basis: 100%;
         max-width: 100%;
    }
}